body{
    background-color: #3e3d4e;
    font-family: Arial, Helvetica, sans-serif;

}

.form{
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    width: 600px;

    background-color: #82828e;

    border: solid;
    border-color: #10cc59;
    border-radius: 8%;
    border-width: 3px;

    position: relative;
    top:100px;
    left: 690px;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.315);
    
}

#logo{
    position: relative;
    left: 785px;
    width: 440px;
    bottom: 350px;
}

.textarea{
    position: relative;
    left: 900px;
    bottom: 300px;
    width: 250px;
    height: 250px;
    font-size: large;
}

#consulta{
    width: 200px;
    height: 30px;
    background-color:#c0dcc1 ;
}

:hover#consulta{
    background-color: #9cb49d;
}

#buscar{
    background-color: #c0dcc1;

    border-radius: 10%;

    font-size: medium;

    position: relative;
    left:950px;
    bottom:460px;
    width:100px;
    height:50px

}

:hover#buscar{
    background-color: #9cb49d;
    text-decoration: underline;
}


footer{
    background-color: #1b1b1f;
    border: solid;
    border-color: #82828e;
    border-width: 2px;
    color: #a4a4a5;
    font-size: medium;
    position: relative;
    padding-left: 10px;
    padding-bottom: 10px;
    display: flex;
}

.mostrar{
    padding: 10px;
    padding-left: 10px;
    background-color: #82828e;
    width: 500px;
    position: relative;
    bottom:250px;
    left:750px;

    border: solid;
    border-color: #10cc59;
    border-radius: 8%;
    border-width: 3px;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.315);

}





