body{
    background-image: url("https://wallpapercrafter.com/desktop/144695-Rick-and-Morty-drawing-cartoon-monochrome.png");
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh;
    padding-bottom: 0%;
    padding-top: 0%;
    background-repeat: no-repeat;
    background-size: cover;
    position: sticky;
    
}

a {
    text-decoration: none;
    color: #10cc59;
}

:hover.a {
    text-decoration: underline;
}

.fondo{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: #535353fd;
    width: 50%;
    height: 1000px;
    border: solid;
    border-color: #10cc59;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.315);
    box-sizing: border-box;

    
}

.textarea{
    position: relative;
    box-sizing: border-box;
    margin: 10px;
    padding: 10px;
    width: 50%;
    height: 40%;
    bottom:200px;

    background-color: #82828e;

    border: solid;
    border-color: #10cc59;
    border-radius: 8%;
    border-width: 3px;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.315);

    display: flex;
    justify-content: center;
    align-items: center
}

#logo{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    bottom:100px;
    left:200px;
    box-sizing: border-box;
}


#consulta1{
    position: relative;
    height: 30px;
    right: 22px;

    border-radius: 10%;

    background-color:#c0dcc1 ;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;

}

#consulta2 {
    position: relative;
    background-color: #c0dcc1;
    display: flex;
    justify-content: center;
    align-items: center;

    height: 30px;
    right: 200px;
    top: 50px;

    border-radius: 10%;
    box-sizing: border-box;

}





:hover#consulta{
    background-color: #9cb49d;
}

#buscar{
    background-color: #c0dcc1;

    border-radius: 15%;
    height: 50px;

    font-size: medium;

    position: relative;
    right: 330px;
    top: 100px;
    box-sizing: border-box;
}

:hover#buscar{
    background-color: #9cb49d;
    text-decoration: underline;

}


footer {
    display: flex;
    align-items: center;
    background-color: #1b1b1f;
    padding-left: 50px;
    border: solid;
    border-color: #82828e;
    border-width: 2px;
    color: #a4a4a5;
    position: absolute;
    width: 90%;
    top: 879px;
    box-sizing: border-box;
    box-shadow: 3px 3px 3px px rgba(0, 0, 0, 0.315);
}

.container {
    bottom: 5px;
    width: 50%;
    display: flex;
    align-items: center;
    align-content: center;
    position: absolute;
    box-sizing: border-box;
}

.mostrar1{
    padding: 10px;
    padding-left: 10px;
    background-color: #82828e;
    width: 25%;
    position: relative;
    left: 10%;

    border: solid;
    border-color: #10cc59;
    border-radius: 8%;
    border-width: 3px;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.315);
    box-sizing: border-box;
}

.mostrar2 {
    padding: 10px;
    padding-left: 10px;
    background-color: #82828e;
    width: 25%;
    max-width: 25%;

    position: relative;
    left:35%;
    
    border: solid;
    border-color: #10cc59;
    border-radius: 8%;
    border-width: 3px;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.315);
    box-sizing: border-box;
}

.imagen-redonda{
    position: relative;
    border-radius: 50%;
    width: 35%;
    max-width: 35%;
    border: solid;
    border-color: #10cc59;
    border-width: 3px;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.315);
    box-sizing: border-box;
}

.git{
    position: absolute;
    left: 440px;
    display: flex;
    align-items: center;
    align-content: center;
    position: absolute;
    width: 25px;
    bottom: 13px;
}
:hover.git{
    filter: brightness(60%);
}
.gitlink{
    width: 3%;
    height: 5%;
    border-radius: 100%;
}








