
body{
    font-family:Vegur,
        'PT Sans',
        Verdana,
        sans-serif;
        background-color: #384D48;
        align-content: center;
    padding: 5px;
}
.genero-male{
    background-color: #FED766;
}
.genero-female{
    background-color:#70AE6E ;
}
#map{
    height:280px !important;
    width: 280px !important;
    position: relative;
    top: 200px;
}
.container{
    display: flex;
    align-items: center;
    align-content: center;
}

#resultado1{
    position: relative;
    border: solid;
    border-radius:4%;
    width: 15%;
    top:100px;
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.315)
}
#resultado2 {
    position: relative;
    border: solid;
    border-radius: 4%;
    padding: 3px;
    width: 15%;
    top: 135px;
    left:50px;
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.315)
}


.imagen-redonda {
    position: relative;
    border-radius: 50%;
    width: 35%;
    max-width: 35%;
    border: solid;
    border-color: #7E7F9A;
    border-width: 3px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.315);
    box-sizing: border-box;
}

#enviar{
    position: relative;;
    width: 80px;
    height: 40px;
    border-radius: 12%;
    background-color: #7E7F9A;
    top: 100px;
    box-shadow: 2px 2px 1px 1px rgba(0, 0, 0, 0.315);
}
:hover#enviar{
    filter: brightness(80%);
    text-decoration: underline;
    
}

#coin{
    border: solid;
    position: relative;
    border-radius: 5%;
    left:20px;
    padding: 5px;
    background-color: #c0c0c0;
    box-shadow: 4px 4px 4px 3px rgba(0, 0, 0, 0.315)
}

.presentacion{
    position: sticky;
    background-color: #7E7F9A;
    height: 10%;
    display: flex;
    align-items: center;
    align-content: center;
    border: solid;
    border-color: #b2b2b9;
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.315);
}
#git{
    width: 30px;
    align-content: center;
    position: absolute;
    bottom: 10px;
    left:410px;
}

:hover#git{
    filter: brightness(60%);
}

#alumno{
    position: relative;
    left:50px;
    text-decoration: underline;
}

#trabajo{
    position: relative;
    text-decoration: underline;
    left: 20px;
}

#randomLink{
    position: relative;
    left:120px ;
    color: black;
    text-decoration: underline;
}
:hover#randomLink{
    color: #b2b2b9;
    text-decoration: none;
}

#RickLink{
    position: relative;
    left: 150px;
    color: black;
    text-decoration: underline;
}

:hover#RickLink{
    color: #b2b2b9;
    text-decoration: none;
}

#leafletApi{
    position: relative;
    left: 180px;
    color: black;
    text-decoration: underline;
}
:hover#leafletApi{
    color: #b2b2b9;
        text-decoration: none;
}

#consignas{
    position: relative;
    background-color: #7E7F9A;
    width: 50%;
    border: solid;
    top:60px;
}

